<div class ='panel panel-primary'>
<div class ='panel-heading'>
    {{title}}
</div>

        <div class="row dropdown">            
            <div class="form-group">
                <select class="form-control" (change)="onApplicationChange($event.target.value)" >
                  <option *ngFor = 'let options of application'>{{options}}</option>
                </select>
              </div>              
        </div>

        <div class="row dropdown">            
                <div class="form-group">
                    <select class="form-control" (change)="onRiskChange($event.target.value)">
                      <option *ngFor = 'let options of risk'>{{options}}</option>
                    </select>
                  </div>              
        </div>

        <div class="row dropdown">            
                <div class="form-group">
                    <select class="form-control" (change)="onStatusChange($event.target.value)" >
                      <option *ngFor = 'let options of status'>{{options}}</option>
                    </select>
                  </div>              
                </div>

        

                
            
            <div class ='table-responsive'>
                <table class='table' *ngIf='filteredList && filteredList.length'>
                    <thead>
                        <tr>
                            <th align="center">Test Name</th>
                            <th align="center">Application</th>
                            <th align="center">Risk</th>
                            <th align="center">Feature</th>
                            <th align="center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let test of filteredList'>
                            <td align="center">{{test.TestName }}  </td>
                            <td align="center">{{test.Application}} </td>
                            <td align="center">{{test.Risk}} </td>
                            <td align="center">{{test.Feature}} </td>   
                            <td align="center">{{test.Status}} </td>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        
</div>
