<div class ='panel panel-primary'>
<mat-card>
   
      <mat-card-content>
        <mat-form-field>
                <mat-label>Application</mat-label>
                <mat-select>
                        <mat-option *ngFor="let options of application" [value]="options">
                                {{options}}
                        </mat-option>
                      </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Risk</mat-label>
                <mat-select>
                        <mat-option *ngFor="let options of risk" [value]="options">
                                {{options}}
                        </mat-option>
                      </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select>
                        <mat-option *ngFor="let options of status" [value]="options">
                                {{options}}
                        </mat-option>
                      </mat-select>
        </mat-form-field>

            
            <div class ='table-responsive'>
                <table class='table' *ngIf='filteredList && filteredList.length'>
                    <thead>
                        <tr>
                            <th align="center" style="text-align: center;">Test Name</th>
                            <th align="center" style="text-align: center;">Application</th>
                            <th align="center" style="text-align: center;">Risk</th>
                            <th align="center" style="text-align: center;">Feature</th>
                            <th align="center" style="text-align: center;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let test of getResource()'>
                            <td align="center">{{test.TestName }}  </td>
                            <td align="center">{{test.Application}} </td>
                            <td align="center">{{test.Risk}} </td>
                            <td align="center">{{test.Feature}} </td>   
                            <td align="center">{{test.Status}} </td>                          
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul>
                <li *ngFor = 'let num of _nubmerOfPages' style="display: inline-block; margin-right: 10px; cursor: pointer;" (click)="setPageNumber(num)">{{num}}</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
